<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% include analytics.html %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/research experience">Research Experience</a></li>
	        		<li><a href="/teaching experience">Teaching Experience</a></li>
				<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div>
			<div class= "footer">
	    		<ul>
	        		<li><a href="mailto:varun.venkatesh@gmail.com">email</a></li>
	        		<li><a href="https://github.com/VarunSVenkatesh">github.com/VarunSVenkatesh</a></li>
				</ul>
			</div>
			

		</body>
		
			<div class="Site">
			  <header></header>
			  <main class="Site-content"></main>
			  <footer></footer>
			</div>
	</html>
